@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

header{
    position: relative;
    width: 100%;
    height: 500px;
    color: #fff;
    background-color: purple;
}


.menu{
    position: absolute;
    right: 50px;
    bottom: 30px;
}

.menu li{
  display: inline-block;
  color: #fff;
}

.title-header{
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2.6em;
}

.menu li a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
}


.menu{
    color: #fff;
}

.box-produto{
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    height: 150px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    gap: 10px;
    margin: 15px 0px;
}



.title-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 15px;
    gap: 10px;
    align-items: baseline;
}

.title-box h1{
    font-size: 20px;
}

.table-header{
    padding: 10px;
    margin: 10px 0px;
}  
.table-row{
    height: 150px;
    margin: 20px 0px;
    box-sizing: border-box;
}
.responsive-table {
li {
    border-radius: 3px;
    /* padding: 25px 30px; */
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 25px; */
}
.table-header {
    background-color: aliceblue;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}
.col-1 {
    flex-basis: 20%;
}
.col-2 {
    flex-basis: 25%;
}
.col-3 {
    flex-basis: 15%;
}
.col-4 {
    flex-basis: 25%;
}

@media all and (max-width: 767px) {
    .table-header {
    display: none;
    }
    .table-row{
    
    }
    li {
    display: block;
    }
    .col {
    
    flex-basis: 100%;
    
    }
    .col {
    display: flex;
    padding: 10px 0;
    &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
    }
}
}
